*{
  margin:0 ;
}
h1{
  text-decoration:underline;
  padding:10px;
  color:#EEEEEE;
  font-weight:bold;
}
body{
  font-family: cursive, sans-serif;
  
}
.app{
  background:linear-gradient( #474E68, #90A17D);
  padding-top:50px;
  height: 100vh;
}
.repo-list{
  margin-left:  15%;
  margin-right:  15%;
  text-align:center;
  margin:50px;
}
.pg-btn{
  background:#404258;
  color:#EEEEEE;
  border:none;
  box-sizing: border-box;
  font-size:1rem;
}
.pg-btn:hover{
  cursor:pointer;
  border:1px solid white;
  box-sizing: border-box;
}
.pg-btn:disabled{
  cursor:not-allowed;
  color:gray;
}

.repo-item-link{
 text-decoration:none;
  
}
.repo-item-link:hover{
 text-decoration:underline;
  text-decoration-color:#EEEEEE;
  
}
.repo-item{
  color:#EEEEEE;
/*   border:1px solid white; */
  
  margin-top:10px;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:20px;
}
.btn-cont{
  margin-top:33px;
}
.info-card{
  margin-top:30px;
  border:1px solid #EEEEEE;
  margin-left:10%;
  margin-right:10%;
  border-radius:50px;
  padding:10px;
  box-shadow: 10px 5px 5px #474E68;
  text-align:center;
}
.info{
  color:yellow;
}
p{
  margin: 30px 5px;
}
.search-img{
  width:50px;
}
.search-result{
  margin-top:80px;
  border:1px solid;
  border-radius:8px;
  padding:10px;
  box-shadow: 10px 5px 5px #474E68;
}